/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.6;
  color: #2c2c2c;
  background-color: #fdfaf6;
}

h1 {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-family: "Poppins", serif;
  font-size: 24px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-family: "Poppins", serif;
  font-size: 18px;
}
@media (min-width: 1024px) {
  h3 {
    font-size: 24px;
  }
}

p {
  font-family: "Poppins", serif;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 88px;
}

.negrita500 {
  font-weight: 500;
}

.negrita600 {
  font-weight: 600;
}

.negrita700 {
  font-weight: 700;
}

.colorVerde {
  color: #87723b;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 10px 16px;
}

.navbar, .container-fluid, .navbar-toggler {
  margin: 0;
  padding: 0;
}

.navbar-toggler, .cerrar {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.navbar-toggler:focus, .cerrar:focus {
  outline: none;
  box-shadow: none;
}

.hamburguesa path {
  fill: #2c2c2c;
  transition: fill 0.5s ease;
}
.hamburguesa:hover path {
  fill: #87723b;
}

.offcanvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 0;
  background-color: rgba(135, 114, 59, 0.9);
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.offcanvas-end {
  width: 100%;
}

.offcanvas-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
  width: 100%;
}

pe-3 {
  padding-right: 0;
}

.navbar-nav a {
  color: #fdfaf6;
  transition: color 0.3s ease;
  padding-bottom: 4px;
}
.navbar-nav a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #3a2d16;
  color: #3a2d16;
}

.cerrar {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #2c2c2c;
}

.linea {
  border-top: 1px #000 solid;
  width: 80%;
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 56px;
  padding: 24px;
}
footer .footer__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
}
footer .footer__contenido p {
  text-align: center;
}
footer .footer__contenido .footer__redes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
}
footer .footer__contenido .footer__redes .footer__redes__links {
  display: flex;
  gap: 16px;
}
footer .footer__contenido .footer__redes .footer__redes__links img {
  width: 40px;
  cursor: pointer;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
  height: 100vh;
  background-image: url(../assets/img/img-dto16.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 16px 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 1024px) {
  .hero {
    padding: 84px 96px 0;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.5);
  z-index: 2;
}
.hero .hero__titulo {
  text-align: center;
  font-weight: 600;
  color: #fdfaf6;
  z-index: 3;
}
.hero .hero__btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 8px;
  color: #fdfaf6;
  z-index: 3;
}
.hero .hero__btn a {
  color: #fdfaf6;
}
.hero .hero__btn img {
  height: 24px;
}
@media (min-width: 1024px) {
  .hero .hero__btn img {
    height: 40px;
  }
}

.caracteristicasPrincipales {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .caracteristicasPrincipales {
    padding: 0px 96px;
  }
}
.caracteristicasPrincipales .caracteristicasPrincipales__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
}
.caracteristicasPrincipales .caracteristicasPrincipales__presentacion .caracteristicasPrincipales__presentacion__titulo {
  text-align: center;
  font-weight: 500;
}
.caracteristicasPrincipales .caracteristicasPrincipales__presentacion .caracteristicasPrincipales__presentacion__parrafo {
  text-align: center;
}
.caracteristicasPrincipales .car__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
  padding: 0px 16px;
}
@media (min-width: 1024px) {
  .testimonios {
    padding: 0px 96px;
  }
}
.testimonios .testimonios__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0;
}
.testimonios .testimonios__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 32px;
}
.testimonios .testimonios__container .testimonio, .testimonios .testimonios__container .testimonio .testimonio__datos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 8px;
}
.testimonios .testimonios__container .testimonio .comillas {
  font-size: 18px;
  font-weight: 500;
  color: #87723b;
}
.testimonios .testimonios__container .testimonio .testimonio__datos .testimonioAutor, .testimonios .testimonios__container .testimonio .testimonio__datos .testimoniosPlataforma {
  color: #6d6d6d;
}
.testimonios .testimonios__container .testimonio .testimonio__datos .testimoniosPlataforma {
  font-weight: 500;
}

.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  padding: 0 16px;
}
.galeria .galeria__grid {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-areas: "foto1 foto1" "foto2 foto2" "foto3 foto3" "foto4 foto4" "foto5 foto5" "foto6 foto6" "foto7 foto7";
  gap: 16px;
  padding: 0 16px;
}
.galeria .galeria__grid .foto1 {
  grid-area: foto1;
  width: 100%;
  /* height: 100%; */
}
.galeria .galeria__grid .foto2 {
  grid-area: foto2;
  width: 100%;
}
.galeria .galeria__grid .foto3 {
  grid-area: foto3;
  width: 100%;
}
.galeria .galeria__grid .foto4 {
  grid-area: foto4;
  width: 100%;
}
.galeria .galeria__grid .foto5 {
  grid-area: foto5;
  width: 100%;
}
.galeria .galeria__grid .foto6 {
  grid-area: foto6;
  width: 100%;
}
.galeria .galeria__grid .foto7 {
  grid-area: foto7;
  width: 100%;
}
@media (min-width: 1024px) {
  .galeria .galeria__grid {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: start;
    align-items: start;
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto7";
    gap: 16px;
    padding: 0 96px;
  }
  .galeria .galeria__grid .foto1 {
    height: 400px;
  }
  .galeria .galeria__grid .foto2 {
    height: 400px;
  }
  .galeria .galeria__grid .foto3 {
    height: 400px;
  }
  .galeria .galeria__grid .foto4 {
    height: 400px;
  }
  .galeria .galeria__grid .foto5 {
    height: 400px;
  }
  .galeria .galeria__grid .foto6 {
    height: 400px;
  }
  .galeria .galeria__grid .foto7 {
    height: 400px;
  }
}

.infoDepartamento {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 24px;
  padding: 84px 16px 0;
}
@media (min-width: 1024px) {
  .infoDepartamento {
    padding: 84px 96px 0;
  }
}
.infoDepartamento .slide img {
  height: 55vh;
  border-radius: 12px;
}
@media (min-width: 1024px) {
  .infoDepartamento .slide img {
    height: 80vh;
  }
}

.caracteristicasDepartamento {
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .caracteristicasDepartamento {
    padding: 0px 96px;
  }
}
.caracteristicasDepartamento .caracteristicasDepartamento__titulo {
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .caracteristicasDepartamento .caracteristicasDepartamento__titulo {
    margin-bottom: 40px;
  }
}
.caracteristicasDepartamento .caracteristicasDepartamento__subtitulo {
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .caracteristicasDepartamento .caracteristicasDepartamento__subtitulo {
    margin-bottom: 16px;
    margin-top: 32px;
  }
}
.caracteristicasDepartamento .caracteristicasDepartamento__listado {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}
.caracteristicasDepartamento .caracteristicasDepartamento__listado .caracteristicasDepartamento__listado__elemento {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}

.ubicacionDepartamento {
  padding: 0px 16px;
}
@media (min-width: 1024px) {
  .ubicacionDepartamento {
    padding: 0px 96px;
  }
}
.ubicacionDepartamento .mapa__contenedor {
  max-width: 1300px;
  margin: 24px auto 0;
  border-radius: 12px;
}
@media (min-width: 1024px) {
  .ubicacionDepartamento .mapa__contenedor {
    margin: 48px auto 0;
  }
}
.ubicacionDepartamento .mapa__contenedor iframe {
  width: 100%;
  border-radius: 12px;
}

.exploraSalta___presentacion, .exploraSalta___queHacer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 84px 16px 0;
}
@media (min-width: 1024px) {
  .exploraSalta___presentacion, .exploraSalta___queHacer {
    padding: 84px 96px 0;
  }
}

.exploraSalta___queHacer {
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .exploraSalta___queHacer {
    padding: 0px 96px;
  }
}

.card__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;
}

.preguntasFrecuentes__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 84px 16px 0;
}
@media (min-width: 1024px) {
  .preguntasFrecuentes__presentacion {
    padding: 84px 96px 0;
  }
}

.preguntasFrecuentes__frase {
  color: #87723b;
  text-align: center;
}

.reserva--preguntasFrecuentes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .reserva--preguntasFrecuentes {
    padding: 0px 96px;
  }
}
.reserva--preguntasFrecuentes a {
  color: #87723b;
  text-decoration: underline;
}

.contactoReservas__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 24px;
  padding: 84px 16px 0;
}
@media (min-width: 1024px) {
  .contactoReservas__presentacion {
    padding: 84px 96px 0;
  }
}

.contactoReservas__reservas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 48px;
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .contactoReservas__reservas {
    padding: 0px 96px;
  }
}
.contactoReservas__reservas .reservas__primeraParte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  text-align: center;
}
.contactoReservas__reservas .reservas__primeraParte .reservas__primeraParte__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.contactoReservas__reservas .reservas__primeraParte .reservas__primeraParte__btns .contactoBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  width: 240px;
  padding: 10px 20px;
  border: 2px solid #87723b;
  border-radius: 12px;
  background-color: transparent;
  color: #3a2d16;
  transition: color 0.3s ease;
}
.contactoReservas__reservas .reservas__primeraParte .reservas__primeraParte__btns .contactoBtn:hover {
  color: #fdfaf6;
  background-color: #87723b;
}
.contactoReservas__reservas .reservas__primeraParte .reservas__primeraParte__btns img {
  width: 24px;
}
.contactoReservas__reservas .reservas__segundaParte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  text-align: center;
}
.contactoReservas__reservas .reservas__segundaParte .reservas__segundaParte__btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 8px;
}
.contactoReservas__reservas .reservas__segundaParte .reservas__segundaParte__btns a {
  text-decoration: underline;
  color: #87723b;
}
.contactoReservas__reservas .reservas__segundaParte .reservas__segundaParte__btns a:hover {
  color: #3a2d16;
}

.reserva {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 80px 16px;
}
@media (min-width: 1024px) {
  .reserva {
    padding: 80px 96px;
  }
}
.reserva p {
  text-align: center;
}
.reserva a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
  color: #87723b;
  font-weight: 600;
}

.card, .card--exploraSalta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #87723b;
  border-radius: 12px;
  width: 100%;
  max-width: 382px;
}

.card__arriba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
.card__arriba img {
  width: 48px;
}

.card__abajo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
}
.card__abajo .card__abajo__btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 8px;
  color: #87723b;
}
.card__abajo .card__abajo__btn a {
  color: #87723b;
}

.card--exploraSalta img {
  border-radius: 4px;
}
.card--exploraSalta .card--exploraSalta--presentacion {
  margin-top: 24px;
}
.card--exploraSalta .card-body {
  padding: 24px 0 0;
}
.card--exploraSalta .card-body .lista {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 0;
}
.card--exploraSalta .card-body .lista .lista__elemento {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 8px;
  width: 100%;
}
.card--exploraSalta .btn-primary {
  background-color: transparent;
  border: none;
  color: #6d6d6d;
}
.card--exploraSalta .btn-primary:hover, .card--exploraSalta .btn-primary:focus, .card--exploraSalta .btn-primary:active {
  background-color: transparent !important;
  border: none !important;
  color: #3a2d16 !important;
  box-shadow: none !important;
}

.accordion {
  border: none !important;
  box-shadow: none !important;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-btn-padding-x: 0;
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .accordion {
    padding: 0px 96px;
  }
}
.accordion .accordion-item {
  border: none !important;
  box-shadow: none !important;
}
.accordion .accordion-item .accordion-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 16px;
  background-color: #fdfaf6 !important;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%2387723b' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #6d6d6d;
  border: none !important;
  box-shadow: none !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%2387723b' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}
.accordion .accordion-item .accordion-button:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.accordion .accordion-item .accordion-collapse {
  border: none !important;
  box-shadow: none !important;
  background-color: #fdfaf6;
}

/*# sourceMappingURL=styles.css.map */
