$colors:(
    verde:#87723b,
    verdeOscuro:#3a2d16,
    secundario:#000,
    blanco:#fdfaf6,
    negro:#2c2c2c,
    gris: #6d6d6d,
);
$font-size-mobile:(
        xxs: 14px,
        xs: 16px,
        s:18px,
        m: 24px,
        l: 32px,
);
$font-size-desktop:(
    xxs: 14px,
    xs: 18px,
    s: 24px,
    m: 32px,
    l: 40px,
)