@use "sass:map";
@use '../utilities/maps' as var ;
@use "../utilities/mixin" as *; 

//Cards de la página de inicio
.card{
    @include flexbox (column, $gap:8px);
    padding: 16px;
    background-color: transparent;
    border: 1px solid map.get(var.$colors, verde);
    border-radius: 12px;
    width: 100%;
    max-width: 382px;
}
.card__arriba{
    @include flexbox ($justify:space-between, $align:center, $gap:8px);

    img{
        width: 48px;
    }
}
.card__abajo{
    @include flexbox (column, $gap:16px);

    .card__abajo__btn{
        @include flexbox ($gap:8px);
        color: map.get(var.$colors, verde);
    
        a{
            color: map.get(var.$colors, verde);
        }
    }

}

// Card de la página de explora salta

.card--exploraSalta{
    @extend .card;

    img{
        border-radius: 4px ;
    }
    .card--exploraSalta--presentacion{
        margin-top: 24px;
    }
    .card-body{
        padding: 24px 0 0;

        .lista{
            @include flexbox (column, flex-start, flex-start, $gap: 16px);
            padding: 0;

            .lista__elemento{
                @include flexbox (row, flex-start, flex-start, $gap: 8px);
                width: 100%;
            }
        }
    }
    .btn-vermas {
        background-color: transparent;
        padding:  16px 0;
        border: none;
        color: map.get(var.$colors, verdeOscuro);
      
        &:hover, 
        &:focus, 
        &:active {
          background-color: transparent;
          border: none;
          color: map.get(var.$colors, verdeOscuro);
          box-shadow: none;
        }
      }

}

