@use "sass:map";
@use '../utilities/maps' as var ;
@use "../utilities/mixin" as *; 

.contactoReservas__presentacion{
    @include flexbox(column, $gap:24px);
    padding: 84px 16px 0;
    @include responsive(desktop) {
        padding: 84px 96px 0;
    }
}
.contactoReservas__reservas{
    @include flexbox(column, $gap:48px);
    padding: 0 16px;
    @include responsive(desktop) {
        padding: 0px 96px;
    }

    .reservas__primeraParte{
        @include flexbox(column, center, center, $gap:24px);
        text-align: center;

       .reservas__primeraParte__btns{
            @include flexbox(row, center, center, wrap, 24px);

            .contactoBtn{
                @include flexbox(row, center, center, $gap: 8px);
                width: 240px;
                padding: 10px 20px;
                border: 2px solid map.get(var.$colors, verde);
                border-radius: 12px;
                background-color: transparent;
                color: map.get(var.$colors, verdeOscuro);
                transition: color 0.3s ease;
                &:hover{
                    color: map.get(var.$colors, blanco);
                    background-color: map.get(var.$colors, verde);
                }
            }
            img{
                width: 24px;
            }
        }
    }
    .reservas__segundaParte{
        @include flexbox(column, $align: center, $gap: 24px);
        text-align: center;

        .reservas__segundaParte__btns{
            @include flexbox(column, $gap:8px);

            a{
                text-decoration: underline;
                color: map.get(var.$colors, verde);
                &:hover{
                    color: map.get(var.$colors, verdeOscuro);
                }
            }

        }
    }
}





