@use "sass:map";
@use '../utilities/maps' as var ;
@use "../utilities/mixin" as *; 

.infoDepartamento{
    @include flexbox(column, $gap: 24px);
    padding: 84px 16px 0;
    @include responsive(desktop) {
        padding: 84px 96px 0;
    }
    .slide img{
        border-radius: 12px;
        @include responsive(desktop){
            height: 80vh;
        }
    }
}
.caracteristicasDepartamento{
    padding: 0 16px;
    @include responsive(desktop) {
        padding: 0px 96px;
    }

    .caracteristicasDepartamento__titulo{
        margin-bottom: 24px;
        @include responsive(desktop) {
            margin-bottom: 40px;
        }
    }
    .caracteristicasDepartamento__subtitulo{
        margin-bottom: 16px;
        @include responsive(desktop) {
            margin-bottom: 16px;
            margin-top: 32px;
        }
    }
    .caracteristicasDepartamento__listado{
        @include flexbox($wrap: wrap, $gap: 16px);
        padding: 0;
    
        .caracteristicasDepartamento__listado__elemento{
            @include flexbox($align: flex-start, $gap: 10px);
        }
    }
}


.ubicacionDepartamento{
    padding: 0px 16px;
    @include responsive(desktop) {
        padding: 0px 96px;
    }

    .mapa__contenedor {
        max-width: 1300px;  
        margin: 24px auto 0;   
        border-radius: 12px;
        @include responsive(desktop) {
            margin: 48px auto 0;
        }
        iframe {
            width: 100%;
            border-radius: 12px;
        }
    }
}
