@use '../partials/tipografia'as tipo;
@use 'sass:map';
@use '../utilities/maps' as var;
@use "../utilities/mixin" as *; 
.linea{
    border-top: 1px #000 solid;
    width: 80%;
    margin: auto;
}
footer{
    @include flexbox(column, center, center,$gap:56px);
    padding: 24px;

    .footer__contenido{
        @include flexbox(column, center, center,$gap:24px);
        p{
            text-align: center;
        }
        .footer__redes{
            @include flexbox(column, $align:center,$gap:16px);

            .footer__redes__links{
                display: flex;
                gap: 16px;

                img{
                    width: 40px;
                    cursor: pointer;
                }
            }
        }
    }
    .copyright{
        font-size: map.get(var.$font-size-mobile, xxs );
        text-align: center;
    }
}





