@use '../partials/tipografia'as tipo;
@use 'sass:map';
@use '../utilities/maps' as var;
@use "../utilities/mixin" as *; 
header{
    @include flexbox(row, $justify: end,);
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 10px 16px;
}
.navbar, .container-fluid, .navbar-toggler {
    margin: 0;
    padding: 0;
  }
.navbar-toggler, .cerrar {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
  

.hamburguesa{
    path {
        fill: map.get(var.$colors, negro);
        transition: fill 0.5s ease; 
    }
    &:hover path{
        fill: map.get(var.$colors, verde);
    }

} 

.offcanvas{
    @include flexbox ($direction: column, $justify: center, $align:flex-end);
    background-color: rgba(135, 114, 59, 0.9);
    font-family: tipo.$fuente-titulocentral;
    font-size: 2rem;
}
.offcanvas-end {
    width: 100%; 
}
.offcanvas-header{
    @include flexbox ($direction: column, $justify: end);
}
  
.navbar-nav {
    @include flexbox ($direction: column, $gap: 16px);
    width: 100%;
}
pe-3 {
    padding-right:0;
}

  
.navbar-nav a {
    color: #fdfaf6;
    transition: color 0.3s ease; 
    padding-bottom: 4px;
    &:hover{
        padding-bottom: 4px;
        border-bottom: 2px solid map.get(var.$colors, verdeOscuro);
        color: map.get(var.$colors, verdeOscuro); ;
    }
}
  
.cerrar{
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: map-get(var.$colors , negro );
}