/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset */
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    line-height: 1.6;
    color: #2c2c2c;
    background-color: #fdfaf6;
}








/* Reglas generales */
h1{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.5rem;
}
h2{
    font-family: "Poppins", serif;
    font-size: 1.125rem;
}
h3{   
    font-family: "Poppins", serif;
    font-size: 1rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    margin: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2c2c2c;
    
}
.negrita600{
    font-weight: 600;
}
.negrita700{
    font-weight: 700;
}







/* Header */
header{
    display:flex;
    position: fixed;
    width: 100%;
   justify-content: end;
   z-index: 1000;
}

.reserva a{
    font-weight: 600;
}







/* Footer */
.linea{
    border-top: 1px #000 solid;
    width: 80%;
    margin: auto;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    padding: 24px;
}
.footer__contenido{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.footer__contenido p{
   text-align: center;
}
.footer__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.footer__redes__links{
    display: flex;
    gap: 16px;
}
.copyright{
    font-size: .8rem;
    text-align: center;
}


/* main{
    margin-top: 78px;
} */




/* Página Home */
.main--home{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.hero{
   height: 100vh;
    background-image: url(../assets/img/img-dto16.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 24px;
    gap: 80px;
}
.hero__titulo{
    text-align: center;
    font-weight: 500;
}
.hero__btn{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero__btn img{
    height: 24px;
}
.caracteristicasPrincipales{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 16px;
}
.caracteristicasPrincipales__presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.caracteristicasPrincipales__presentacion__titulo{
    text-align: center;
    font-weight: 500;
}
.caracteristicasPrincipales__presentacion__parrafo{
 text-align: center;
}
.car__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    background-color: grey;
    width: 100%;
    max-width: 382px;
}
.card__arriba{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 8px;
}
.card__abajo{
display: flex;
flex-direction: column;
gap: 16px;
}
.card__abajo__btn{
    display: flex;
    gap:8px;
}
.testimonios{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    align-items: flex-start;
}
.testimonios__presentacion{
    display: flex;
    flex-direction: column;
}

.testimonios__container{
    display: flex;
    flex-direction: column;
    gap: 96px;
}
.testimonio{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.testimonio__datos{
    display:flex;
    flex-direction: column;
    gap: 8px;
}
.testimoniosPlataforma{
    font-weight: 500;
}
.galeria{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 24px;
}
.galeria__grid{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    /* gap: 16px; */
    grid-template-areas:
    "foto1 foto1"
    "foto2 foto2"
    "foto3 foto3"
    "foto4 foto4"
    "foto5 foto5"
    "foto6 foto6"
    "foto7 foto7"
    ;
    gap: 16px;
    padding: 0 24px;
}
.foto1{
    grid-area: foto1;
    width: 100%;
    height: 200px;
}
.foto2{
    grid-area: foto2;
    width: 100%;
    height: 200px;
}
.foto3{
    grid-area: foto3;
    width: 100%;
    height: 200px;
}
.foto4{
    grid-area: foto4;
    width: 100%;
    height: 200px;
}
.foto5{
    grid-area: foto5;
    width: 100%;
    height: 200px;
}
.foto6{
    grid-area: foto6;
    width: 100%;
    height: 200px;
}.foto7{
    grid-area: foto7;
    width: 100%;
    height: 200px;
    background-size: contain;
}
.reserva{
   display: flex;
   flex-direction: column;
   gap: 16px; 
   padding: 80px 24px;
   align-items: center;
}
.reserva__parrafo{
    text-align: center;
}






/* Página Departamento */
.infoDepartamento{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 24px;
   padding-top: 102px;
}

.slide img{
    height: 55vh;
}

.caracteristicasDepartamento{
    padding: 48px 16px 0;
}
.caracteristicasDepartamento__titulo{
    margin-bottom: 24px;
}
.caracteristicasDepartamento__subtitulo{
    margin-bottom: 16px;
}
.caracteristicasDepartamento__listado{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 16px;
    padding: 0;
}
.caracteristicasDepartamento__listado__elemento{
    display: flex;
    gap: 10px;
}
.ubicacionDepartamento{
    padding: 48px 16px 0;
}
.mapa__contenedor {
    max-width: 800px;  
    margin: 24px auto 0;   
    border-radius: 12px;
}

.mapa__contenedor iframe {
    width: 100%;
    border-radius: 12px;
}

/* Página Explora Salta */

.gastronomia .card, .historia .card{
    background-color: bisque;
    margin: 24px 0;
}










/* Página Preguntas frecuentes */

.preguntasFrecuentes__contenedor{
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 102px 24px 0;
}
.preguntasFrecuentes__presentacion{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.preguntasFrecuentes__presentacion h1{
    font-weight: 600;
}
.preguntasFrecuentes__frase{
    text-align:center;
}

.accordion, 
.accordion-item {
    border: none !important;
    box-shadow: none !important;
}
.accordion-button {
    background-color: #fdfaf6 !important;  
}
.accordion-button:not(.collapsed) {
    border: none !important;
    box-shadow: none !important;
}

.accordion-collapse {
    border: none !important;
    box-shadow: none !important;
    background-color: #fdfaf6 !important;
}
.accordion-button:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.preguntasFrecuentes__preguntas{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.reserva--preguntasFrecuentes{
    display: flex;
    flex-direction: column;
    gap: 28px;
}


/* Página Contacto y reservas */
.contactoReservas__contenedor{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 102px 24px 0;
}
.contactoReservas__presentacion{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.contactoReservas__reservas{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.reservas__primeraParte{
    display: flex;
    flex-direction: column;
    gap: 24px;
   align-items: center;
   text-align: center;
}
.reservas__primeraParte__btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.contactoBtn{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 12px 24px;
    color: white;
}
.contactoBtn img{
    width: 24px;
}
.reservas__segundaParte{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}
.reservas__segundaParte__btns{
    display: flex;
    flex-direction: column;
    gap: 8px;
}